# This file tells which files and directories should be ignored and
# NOT downloaded when using composer to pull down a project with
# the --prefer-dist option selected. Used to remove development
# specific files so user has a clean download.

.gitattributes export-ignore
.github/ export-ignore
mock/ export-ignore
tests/ export-ignore
