<?php

use Liaison\CS\Config\Factory;

return Factory::createForLibrary(
    'Liaison Revision',
    'John Paul E. Balandan, CPA <paulbalandan@gmail.com>',
    2020,
    'Liaison\CS\Config\Ruleset\Liaison'
);
