parameters:
  tmpDir: build/phpstan
  level: 6
  paths:
    - src
    - tests
  bootstrapFiles:
    - vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php
  parallel:
    processTimeout: 300.0
  dynamicConstantNames:
    - ENVIRONMENT
  scanDirectories:
    - vendor/codeigniter4/codeigniter4/app/Config
    - vendor/codeigniter4/codeigniter4/system
  scanFiles:
    - vendor/codeigniter4/codeigniter4/app/Config/Constants.php
    - vendor/codeigniter4/codeigniter4/system/bootstrap.php
  ignoreErrors:
    - '/^Method Liaison\\Revision\\Tests\\(.*) has no return typehint specified\.$/'
    - '/^Method Liaison\\Revision\\Tests\\(.*) return type has no value type specified in iterable type array\.$/'
    - '/^Property Liaison\\Revision\\Tests\\(.*) has no typehint specified\.$/'
