parameters:
  tmpDir: build/phpstan
  level: 6
  paths:
    - src
    - tests
  bootstrapFiles:
    - phpstan-bootstrap.php
  parallel:
    processTimeout: 300.0
  dynamicConstantNames:
    - ENVIRONMENT
  scanDirectories:
    - vendor/codeigniter4/codeigniter4/app/Config/Boot
    - vendor/codeigniter4/codeigniter4/system
  scanFiles:
    - vendor/codeigniter4/codeigniter4/app/Config/Constants.php
    - vendor/codeigniter4/codeigniter4/system/bootstrap.php
  ignoreErrors:
    - '#Access to an undefined property Liaison\\Revision\\Config\\ConfigurationResolver::(.*)#'
    - '#Call to undefined function CodeIgniter\\CLI\\is_cli\(\)#'
    - '#Method Liaison\\Revision\\Tests\\(.*) has no return typehint specified.#'
    - '#Method Liaison\\Revision\\Tests\\(.*) return type has no value type specified in iterable type array.#'
    - '#Property Liaison\\Revision\\Tests\\(.*) has no typehint specified.#'
